/* 1rem = 10px */

/* pseudo-selector */
:root {
  /* custom properties */
  --blanco: #fff;
  --oscuro: #212121;
  --amarillo: #ffc107; 
<<<<<<< HEAD
  --rosa: plum;
=======
>>>>>>> 3202322a8853b3b65dfb631f22233bf6c7471db5

  /* para usarlos: color: var(--primario) */
}

/* estilos globales */
html {
  font-size: 62.5%;
<<<<<<< HEAD
=======
  scroll-snap-type: y mandatory;
}

/* scroll snap */
#arriba, 
.subtitulos,
footer {
  scroll-snap-align: start;
  scroll-snap-stop: always;
>>>>>>> 3202322a8853b3b65dfb631f22233bf6c7471db5
}

body {
  font-size: 16px;

  background:
  radial-gradient(black 15%, transparent 16%) 0 0,
  radial-gradient(black 15%, transparent 16%) 8px 8px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
  background-color:#282828;
  background-size: 1.6rem 1.6rem;
  background-color: #1e3799;

  color: #dcdfe2;
  margin: 1rem 35rem;
  font-family: 'Krub', sans-serif;
}

@media (max-width: 1400px) {
   body {
     margin: 1rem 20rem;
   }
}

@media (max-width: 1200px) {
  body {
    margin: 1rem 15rem;
  }
}

@media (max-width: 800px) {
  body {
    margin: 1rem;
  }
}
   
.sombra {
  -webkit-box-shadow: 0px 7px 15px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 7px 15px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 7px 15px 0px rgba(0,0,0,0.75);
}

#talento-sistemas {
  text-align: center;
  color: #c9d1d9;
  padding: 1rem;
  border: 0.4rem solid rgba(0,0,0,.6);
  border-radius: 1rem;
  font-size: 4rem;
}

@media (max-width: 1160px) {
  #talento-sistemas {
    font-size: 3rem;
  }
}

@media (max-width: 480px) {
  #talento-sistemas {
    font-size: 2rem;
  }
}

.linea-ts {
  background-color: rgba(0,0,0,.8);
  border-radius: 1rem;
  padding: 6rem 3rem;
  margin: 9.5rem 7rem 0;
}

@media (max-width: 1160px) {
<<<<<<< HEAD
  .linea-vertical {
=======
  .linea-ts {
>>>>>>> 3202322a8853b3b65dfb631f22233bf6c7471db5
    border-radius: 0.5rem;
    padding: 5rem 2.5rem;
    margin: 7.5rem 4rem 0;
  }
}

@media (max-width: 914px) {
<<<<<<< HEAD
  .linea-vertical {
=======
  .linea-ts {
>>>>>>> 3202322a8853b3b65dfb631f22233bf6c7471db5
    border-radius: 0.5rem;
    padding: 4rem 2rem;
    margin: 8.5rem 3rem 0;
  }
}

@media (max-width: 480px) {
<<<<<<< HEAD
  .linea-vertical {
=======
  .linea-ts {
>>>>>>> 3202322a8853b3b65dfb631f22233bf6c7471db5
    border-radius: 0.5rem;
    padding: 3rem 1.5rem;
    margin: 6.5rem 2.5rem 0;
  }
}

#uno {
  float: left;
}

#dos {
  float: right;
}

<<<<<<< HEAD
.recursos-tech {
  margin: 0;
  padding: 1rem;
  font-size: 6rem;
  text-align: center;
  color: var(--rosa);
=======
#codecamping-TS {
  margin: 0;
  padding: 6rem 3rem;
  font-size: 9rem;
  text-align: center;
  color: plum;
>>>>>>> 3202322a8853b3b65dfb631f22233bf6c7471db5
  background-color: rgba(0,0,0,.8);
  border-radius: 1rem;
}

@media (max-width: 1400px) {
  #codecamping-TS {
    font-size: 8rem;
    padding: 5rem 2rem;
  }
}

@media (max-width: 1160px) {
  #codecamping-TS {
    font-size: 7rem;
    padding: 4rem 1.5rem;
  }
}

@media (max-width: 800px) {
  #codecamping-TS {
    font-size: 6rem;
    padding: 3rem 1rem;
  }
}
 
@media (max-width: 480px) {
  #codecamping-TS {
    font-size: 4rem;
    padding: 2rem .5rem;
  }
}

<<<<<<< HEAD
.descripcion {
  font-size: 2rem;
=======
#fecha {
  margin-top: 12rem;
  font-size: 3rem;
>>>>>>> 3202322a8853b3b65dfb631f22233bf6c7471db5
  font-weight: bold;
  margin: 5rem 20rem 15rem;
  text-align: center;
  color: #c9d1d9;
  background-color: #1e3799;
  border-radius: 0.6rem;
}

@media (max-width: 1200px) {
  #fecha {
    margin: 4rem 25rem 13rem;
    font-size: 2rem;
  }
}

@media (max-width: 1080px) {
  #fecha {
    margin: 3.5rem 15rem 11rem;
  }
}

@media (max-width: 800px) {
  #fecha {
    margin: 3rem 2rem 9rem;
  }
}

.subtitulos {
  font-size: 5rem;
  text-align: center;
  color: #000;
  background-color: #1e3799;
  border-radius: 1rem;
  margin: 5rem 20rem 2rem;
  padding: 0.5rem;
}

@media (max-width: 1080px) {
  .subtitulos {
    font-size: 3rem;
  }
}

@media (max-width: 980px) {
  .subtitulos {
    margin: 4rem 4rem 1.8rem;
    font-size: 3rem;
  }
}

.herramientas .subtitulos {
  background-color: rgb(196 , 207, 233);
}

.python .subtitulos {
  background-color: rgb(196, 233, 211);
}

.java .subtitulos {
  background-color: rgb(233, 196, 196);
}

section {
  color: #000;
  font-size: 2rem;
  border-radius: 1rem;
}

@media (max-width: 1080px) {
  section {
    font-size: 1.5rem;
  }
}

section h2 {
  margin-bottom: 5rem;
}

/* Contenido de las sesiones */
div {
  border-radius: 1rem;
  padding: 2rem 2rem 0.5rem;
}

@media (max-width: 1080px) {
  div {
    padding: 1rem 1rem 0.1rem;
  }
}

.herramientas div {
  background-color: rgba(196, 207, 233, 0.6);
}

.python div {
  background-color: rgba(196, 233, 211, 0.6);
}

.java div {
  background-color: rgba(233, 196, 196, 0.6);
}

.sesiones {
  background-color: rgb(196, 207, 233);
  color: var(--primario);
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 2rem;
  font-weight: bold;
}

#redes {
  background: #1e3799;
  border-radius: 0.6rem;
  margin: 4rem 0 1.5rem;
  box-sizing: border-box;
  display: grid;
  align-items: center;
  justify-content: center;
  padding-right: 7rem;
}
<<<<<<< HEAD

#copyright {
  text-align: center;
  margin: 2.5rem;
  background-color: rgba(0, 0, 0, .8);
  border-radius: 1rem;
  padding: 2rem;
  font-size: 2rem;
}
=======
>>>>>>> 3202322a8853b3b65dfb631f22233bf6c7471db5
   
#aprendizaje {
  border-radius: 1rem;
  padding: 2rem;
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  margin-left: 7rem;
  margin-bottom: 0;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
}

nav ul li {
  padding: 1rem;
  margin: 0;
}

a {
  text-decoration: none;
}

<<<<<<< HEAD

=======
#copyright {
  text-align: center;
  margin: 1.5rem;
  font-weight: bold;
}
>>>>>>> 3202322a8853b3b65dfb631f22233bf6c7471db5

/* Inconos */
.icon {
  position: relative;
  width: 5rem;
  height: 5rem;
  margin: 3rem;
  border-radius: 50%;
  transition: all .8s;
  cursor: pointer;
  margin-top: 0;
}

@media (max-width: 1080px) {
  .icon {
    margin: 0 1rem 3rem;
  }
}

@media (max-width: 500px) {
  .icon {
    margin: 0 .2rem 3rem;
  }
}

.icon i {
  color: #fff;
  position: absolute;
  font-size: 3.3rem;

  /* posición */
  top: 50%;
  left: 50%; 
  transform: translate(-3%,-3%);
}

@media (max-width: 1080px) {
  .icon i {
    font-size: 2.5rem;

      /* posición */
    top: 55%;
    left: 55%; 
    transform: translate(-3%,-3%);
  }
}

svg circle {
  stroke-dasharray: 10;
<<<<<<< HEAD
  transition: all 0.1s ease-in-out;  
=======
  transition: all 0.01s ease-in-out;  
>>>>>>> 3202322a8853b3b65dfb631f22233bf6c7471db5
}

.icon:hover circle {
  stroke-dasharray: 220;
}

<<<<<<< HEAD

=======
/*
.icon:hover {
  background-color: #e60073;
}

.icon:hover:nth-child(2) {
  background-color: #1877f2;
}

.icon:hover:nth-child(3) {
  background-color: #25d366;
}
*/
>>>>>>> 3202322a8853b3b65dfb631f22233bf6c7471db5
